<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Predict Food Supply</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='./style.css') }}">

</head>

<body>
 <div class="page">

    <h2>THIS IS A DEMONSTRATION OF A MACHINE LEARNING APP</h2>
    <p>This is not medical or legal guidance </p>

     <h1>Predict Food Supply</h1>
     <p>Data collected from https://ourworldindata.org/food-supply</p>

     <!-- Form to enter new data for predictions  -->
     <form if="form" action="{{ url_for('get_data')}}"method="POST">
         <input type="text" name="textbox" placeholder="Data" required="required" /><br>
         <h1 class='pred'> {{pred}}</h1>
         <h2 class='res'>{{data_num}}</h2>
         <button id="button" type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
        </form>

      <h2>Available features:</h2>
      <h3><span style="color: #ff0000">1:</span> 'Protein supply quantity (g/capita/day) - Grand Total', <span style="color: #ff0000">2:</span> 'Fat supply quantity (g/capita/day) - Grand Total', <span style="color: #ff0000">3:</span> 'Animal Products - Protein supply quantity (g/capita/day)', <span style="color: #ff0000">4:</span> 'Eggs - Food supply quantity (kg/capita/yr)', <span style="color: #ff0000">5:</span> 'Milk - Excluding Butter - Food supply quantity (kg/capita/yr)', <span style="color: #ff0000">6:</span> 'Meat food supply quantity (kg/capita/yr)', <span style="color: #ff0000">7:</span> 'Pigmeat food supply quantity (kg/capita/yr)', <span style="color: #ff0000">8:</span> 'Vegetables - Food supply quantity (kg/capita/yr)'</h3>

   <br>
   <br>


 </div>


</body>
</html>
